.r-container {
    overflow: hidden;
    position: relative;
}

.r-head {
    margin-bottom: 2rem;
}

.r-card {
    gap: .6rem;
    padding: 1rem;
    border-radius: 10px;
    max-width: max-content;
    margin: auto;
    transition: .3s ease-in;
}

.r-card>img {
    width: 100%;
    max-width: 15rem;
}

.r-card>:nth-child(2) {
    font-size: 1.2rem;
    font-weight: 600;
}

.r-card>:nth-child(3) {
    font-size: 1.5rem;
}

.r-card>:nth-child(4) {
    font-size: .7rem;
    width: 15rem;
}

.r-card:hover {
    scale: 1.03;
    cursor: pointer;
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0),
            rgba(136, 160, 255, .5) 200%);

    /* box-shadow: 0px 72px 49px -51px rgba(136, 160, 255, .2); */
    box-shadow: 1rem 1rem 3rem rgba(136, 160, 255, .25);
}

.swiper-horizontal {
    overflow: visible;
}

.r-buttons {
    position: absolute;
    gap: 1rem;
    top: -4rem;
    right: 2rem;
    z-index: 2;
}

.r-buttons button{
    font-size: 1.2rem;
    padding: 0.2rem 0.8rem;
    color: blue;
    border: none;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.r-buttons>:nth-child(1){
    background-color: #EEEEFF;
}

.r-buttons>:nth-child(2){
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
}